/* Link style */
a.pawsNavLink {
    color: black;
    margin-right: 1em;
    /*border-radius: 0.25em;*/
    /*padding: 0.1em 0.25em 0.1em 0.25em;*/
    /*text-decoration: none;*/
}

a.pawsNavLink:hover {
    background: #ccffcc;
}

a.pawsCurrentPage {
    background-color: #3f8a33 !important;
    color: white;
}

a.pawsCurrentPage:hover {
    color: white;
}

img.logo {
    width: 7em;
    height: 7em;
    margin-top: -1em; /* Compensate outer padding */
}
