@media screen and (min-width: 800px) {
    .pawsMain {
        padding-left: 6em !important;
        padding-right: 6em !important;
    }
}

@media screen and (max-width: 800px) {
    .pawsMain {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/*
* Image Styles
*/

/* Для зображень в контенті */
img.textInline {
    display: inline-block;
    width: 1.5em;
    margin-bottom: 0.25em;
}

/* Для зображень в футері */
img.footerInline {
    display: inline-block;
    width: 2em;
}

/* Для кольорових зображень, які мають бути чорно-білими */
img.black-and-white {
    filter: grayscale(100%);
}

img.contactIcon {
    margin-right: 0.5em;
}