.pawsMain {
    padding-left: 6em;
    padding-right: 6em;
}

/*
* Image Styles
*/

/* Для зображень в контенті */
img.textInline {
    display: inline-block;
    width: 1.5em;
    margin-bottom: 0.25em;
}

/* Для зображень в футері */
img.footerInline {
    display: inline-block;
    width: 2em;
}

/* Для кольорових зображень, які мають бути чорно-білими */
img.black-and-white {
    filter: grayscale(100%);
}

img.contactIcon {
    margin-right: 0.5em;
}